<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="javascript/homepage.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <section id="flex-container">
        <h1> Project Zeus Lightning Statistics</h1>
        <h3>Filter Options</h3>
        <div>
            <label id="lblRef" for="processReference">Process Reference: </label>
            <input type="number" name="processReference" id="processReference" min="1" max="9999">
        </div>
        <div>
            <label id="lblDate">Date</label>
            <div>
                <label for="minDate">Min:</label>
                <input type="date" id="minDate" name="minDate" min="1000-01-01" max="9999-12-31">
                <label for="maxDate">Max:</label>
                <input type="date" id="maxDate" name="maxDate" min="1000-01-01" max="9999-12-31">
            </div>
                <label id="lblTime" for="timeRange">Time:</label>
                <input type="time" id="timeRange" name="time" min="00:00" max="23:59" step="2" required>
            <div>
            <label id="lblMilliseconds">Milliseconds: </label><br>
            <div>
                <label for="minMsTimeSlider">Min: </label>
                <input id="minMsTimeSlider" type="range" min="0" max="999" value="" oninput="minMsTimeBox.value=minMsTimeSlider.value">
                <input id="minMsTimeBox" type="number" value="" min="0" max="999" name="minMsTime" oninput="minMsTimeSlider.value=minMsTimeBox.value"> 
                <label for="maxMsTimeSlider">Max: </label>
                <input id="maxMsTimeSlider" type="range" min="0" max="999" value="" oninput="maxMsTimeBox.value=maxMsTimeSlider.value">
                <input id="maxMsTimeBox" type="number" value="" min="0" max="999" name="maxMsTime" oninput="maxMsTimeSlider.value=maxMsTimeBox.value">
            </div>    
        </div>
        </div>
        <h3>Characteristics</h3>
        <div>
            <label id="lblProcess">Process</label><br>
            <div id="processesContainer">
                <div>
                <input type="checkbox" id="stroke" name="processes_stroke" value="Stroke">
                <label for="stroke">Stroke</label>
            </div>
            <div>
                <input type="checkbox" id="M" name="processes_m" value="M">
                <label for="M">M</label><br>
            </div>
            <div>
                <input type="checkbox" id="attemptedLeader" name="processes_attemptedlead" value="Attempted Leader">
                <label for="attemptedLeader">Attempted Leader</label>
            </div>
            <div>
                <input type="checkbox" id="spider" name="processes_spider" value="Spider">
                <label for="spider">Spider</label><br>
            </div>
            <div>
                <input type="checkbox" id="up" name="processes_up" value="up">
                <label for="up">up</label>
            </div>
            <div>
                <input type="checkbox" id="mup" name="processes_mup" value="M-up">
                <label for="mup">M-up</label><br>
            </div>
            <div>
                <input type="checkbox" id="srs" name="processes_srs" value="SRS">
                <label for="srs">SRS</label>
            </div>
            <div>
                <input type="checkbox" id="evant" name="processes_evant" value="Ev. Anterior">
                <label for="evant">Ev. Anterior</label><br>
            </div>
            <div>
                <input type="checkbox" id="evpost" name="processes_evpost" value="Ev. Posterior">
                <label for="evpost">Ev. Posterior</label>
            </div>
            <div>
                <input type="checkbox" id="cc" name="processes_cc" value="CC">
                <label for="cc">CC</label><br>
            </div>
            <div>
                <input type="checkbox" id="recoillead" name="processes_recoillead" value="Recoil Leader">
                <label for="recoillead">Recoil Leader</label>
            </div>
            <div>
                <input type="checkbox" id="processes_srsm" name="processes_srsm" value="SRS-M">
                <label for="processes_srsm">SRS-M</label>
            </div>
            <div>
                <input type="checkbox" id="processes_wc" name="processes_wc" value="Without Classfication">
                <label for="processes_wc">Without Classfication</label>
            </div>
            </div>
        </div>
        <div>
            <label id="lblVisibility">Visibility</label><br>
            <div id="visibilityContainer">
                <div>
                    <input type="checkbox" id="visible" name="visibilities_visible" value="Visible">
                    <label for="visible">Visible</label>
                </div>
                <div>
                    <input type="checkbox" id="Out" name="visibilities_out" value="Out">
                    <label for="Out">Out</label>
                </div>
            </div>
        </div>
        <div>
            <label id="lblStrikePoint">Strike Point</label> <br>
            <label for="minstrikepoint">Min</label>
            <input id="minstrikepoint" type="range" min="0" max="10" value="" oninput="minstrikepointbox.value=minstrikepoint.value">
            <input id="minstrikepointbox" type="number" value="" min="0" max="10" name= "minstrikepoint" oninput="minstrikepoint.value=minstrikepointbox.value">
            <label for="maxstrikepoint">Max</label>
            <input id="maxstrikepoint" type="range" min="0" max="10" value="" oninput="maxstrikepointbox.value=maxstrikepoint.value">
            <input id="maxstrikepointbox" type="number" value="" min="0" max="10" name="maxstrikepoint" oninput="maxstrikepoint.value=maxstrikepointbox.value">
        </div>
        <div>
            <label id="lblDuration">Duration: </label><br>
            <div class="DurationSlideContainer">
                <label for="minduration">Min: </label>
                <input id="minduration" type="range" min="0" max="1200" value="" oninput="mindurationbox.value=minduration.value">
                <input id="mindurationbox" type="number" value="" min="0" max="1200" name="minduration" oninput="minduration.value=mindurationbox.value">
                <label for="maxduration">Max: </label>
                <input id="maxduration" type="range" min="0" max="1200" value="" oninput="maxdurationbox.value=maxduration.value">
                <input id="maxdurationbox" type="number" value="" min="0" max="1200" name="maxduration" oninput="maxduration.value=maxdurationbox.value">
            </div>

        </div>
        <div>
            <label id="lblPolarity">Polarity: </label><br>
            <div id="polaritiesContainer">
                <div>
                    <input type="checkbox" id="positive" name="polarities_positive" value="positive">
                    <label for="positive">Positive</label>
                </div>
                <div>
                    <input type="checkbox" id="negative" name="polarities_negative" value="negative">
                    <label for="negative">Negative</label>
                </div>
                <div>
                    <input type="checkbox" id="unclassified" name="polarities_wc" value="without classification">
                    <label for="unclassified">Without Classfication</label>
                </div>
            </div>  
        </div>
    </section>
    <section id="resultsSection">
        <div id="numResultsContainer">
            <h2>Results Table: </h2>
        </div>
        <table id="resultsContainer">
            <tr><td> <b>Process Reference</b>  </td> 
                <td>  <b>Date (YYYY-MM-DD)</b>  </td><td>  <b>Time (HH:MM:SS)</b>  </td><td>  <b>Time (ms)</b>  </td><td>  <b>Process</b>  </td><td>  <b>Strike Point</b> 
                </td><td>  <b>Polarity</b>  </td><td>  <b>Visibility</b>  </td><td>  <b>Duration (ms)</b>  </td> <td>  <b>Number of Strokes in same Channel</b>  </td>
                </tr>
        </table>
    </section>
    <section id="buttonsContainer">
        <div id="buttonsDiv">
            <input type="button" id="filterButton" value="Filter Search"> <br>
            <input type="button" id="downloadReportButton" value="Download Search Results"> <br>
            <input type="reset" id="clearFilter" value="Clear Results"> <br>
              <form action="/upload" method="GET">
                  <button type="submit" id="upload"> Upload Data</button>
              </form>
            <input type="button" id="logout" value="Logout">
        </div>
    </section>
</body>

</html>