<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<header>
    <script defer type="text/javascript" src="/javascript/login.js"></script>
</header>

<body>
    <h1>Login</h1>
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button id="login" type="submit" onclick="return verifyLogin()">Login</button>
    </div>
    <div>
        <label for="registration">Need an account? </label>
        <form action="/registration" method="GET">
            <button type="submit" id="register">Register</button>
        </form>
    </div>

</body>

</html>