<!DOCTYPE html>
<html lang="en">

<head>
	<title>Excel File Upload</title>
	<script src="javascript/upload.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/css/upload.css">
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		<div>
			<label><b>Select your file to upload</b></label>
			<input id="fileInput" type="file" name="upload" />
		</div>
		<div>
			<input type="submit" name="btn_upload_file" value="Upload" onclick="return uploadData()" />
		</div>
		<label>Note: Please only upload one file each time you click update data (i.e. Once you upload a file, click update data to confirm it is sent to the database. Then you can upload a new file and repeat the process)</label>
	</form>
	<form>
		<label>Please wait for a confirmation box to ensure action has been completed</label>
		<div>
			<button id="updateButton" type="submit" onclick="return updateData()">Update Data</button>
		</div>
		<div>
			<button id="Data" type="submit" onclick="return deleteData()">Clear Database</button>
		</div>
		<div>
			<input type="button" value="Return" onclick="changeOver()">
		</div>

	</form>

</body>

</html>